body{
    overflow:hidden;
    padding: 0;
    margin: 0;
} 


#top {
    border-bottom: 1px black solid;
    height: 100px;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 2;
}

#top canvas{
    max-height: 100px;
}


#main {
    display: flex;
    overflow: hidden;
    height: 100vh;
    position: relative;
    width: 100%;
}

#customizeChar, #preview {
    margin-top: 100px;
    margin-bottom: 100px;
    overflow: auto;
    height: auto;
}

#customizeChar, .buttons {
    width: 30%;
}
#preview, #previewAnimationsBox {
    width: 70%;
}
#previewAnimationsBox {
    display: flex;
    vertical-align: top;
    align-items: flex-start;
}
#bottom{
    border-top: 1px black solid;
    height: 100px;
    width: 100%;
    overflow: scroll;
    position: absolute;
    bottom: 0px;
    z-index: 2;
}


.hidden{
    display:none;
}

.box{
    display: inline-block;
    height: 16px;
    width: 16px;
}