body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#top {
    border-bottom: 1px black solid;
    height: 100px;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 2;
}

#top canvas {
    max-height: 100px;
}

#main {
    display: flex;
    overflow: hidden;
    height: 100vh;
    position: relative;
    width: 100%;
}

#customizeChar,
#preview,
#attribution {
    margin-top: 100px;
    overflow: auto;
    height: auto;
}

#customizeChar,
#buttons {
    width: 30%;
}

#preview,
#previewAnimationsBox,
#attribution {
    width: 70%;
}

#previewAnimationsBox {
    display: flex;
    vertical-align: top;
    align-items: flex-start;
}

.hidden {
    display: none;
}

.box {
    display: inline-block;
    height: 16px;
    width: 16px;
}